@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif:ital@0;1&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6    
    {margin:0;padding:0}
h1,h2,h3,h4,h5,h6
    {font-size:100%;font-weight:normal}
ul
    {list-style:none}
button,input,select,textarea
    {margin:0}
html
    {box-sizing:border-box}
*,*::before,*::after
    {box-sizing:inherit}
img,video
    {height:auto;max-width:100%}
iframe
    {border:0}
table
    {border-collapse:collapse;border-spacing:0}
td,th
    {padding:0}
td:not([align]),th:not([align])
    {text-align:left}


html {
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    --primary-color: #6A00F0;
    --secondary-color: #08A333;
    --dark-grey: #777;
    --light-grey: #eee;
    font-size: 10px;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    width: 100%;
    padding: 5px 5% 0 5%;
    display: flex;
    justify-content: space-between;
}

nav ul {
}

@media all and (min-width: 768px) {
    nav ul {
        display: flex;
        text-decoration: none;
    }
}

nav li {
    align-self: center;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    float: left;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    padding-bottom: 3px;
    border-bottom: 5px solid var(--primary-color);
}

nav div {
    /* display: flex; */
}

nav h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -1px;
    align-self: center;
    display: none;
}

nav img {
    width: 100px;
}

.lightWeight {
    font-weight: 100;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
    flex-direction: column;
    width: 100%;
}

.hero-wrap {
    margin-top: 100px;
    width: 100%;
}

@media all and (min-width: 768px) {
    .hero {
        flex-direction: row;
        padding-left: 5%;
    }

}

@media all and (min-width: 1000px) {
    .hero {
        display: flex;
        width: 100%;
        padding: 50px 0 0 5%;
        width: 1440px;
    }
}

.hero-headline {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: -3px;
}

.hero-text {
    width: 100%;
    padding: 0 5%;
    float: left;
}

@media all and (min-width: 768px) {
    .hero-text {
        width: 50%;
        padding: 0 0;
        float: left;
    }
    .hero-headline {
        font-size: 7rem;
        font-weight: 800;
        letter-spacing: -3px;
    }
}

@media all and (min-width: 1000px) {
    .hero-text {
        width: 30%;
        padding: 0 0;
        float: left;
    }
}

.hero h2 {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 1;
}

.hero h3 {
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 2rem;
}

.hero-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
    float: right;
    background-color: var(--primary-color);
    background-image: url('../images/cookcountycourts.jpg');
    background-blend-mode: screen;
    background-position: 40% 20%;
    background-size: 110%;
    margin-top: 50px;
}

@media all and (min-width: 768px) {
    .hero-img {
        height: 300px;
        width: 40%;
        overflow: hidden;
        float: right;
        background-blend-mode: screen;
        background-position: 40% 20%;
        background-size: 110%;
        margin-top: 0;
    }

    .hero h2 {
        font-size: 4.8rem;
    }
    
    .hero h3 {
        font-size: 2.5rem;
    }
}

@media all and (min-width: 1000px) {
    .hero-img {
        height: 450px;
        width: 65%;
        overflow: hidden;
        float: right;
        background-blend-mode: screen;
        background-position: 40% 20%;
        background-size: 110%;
    }
}

.promo-teams {
    margin: 2rem 0 10rem 0;
    padding: 0 5% 0 5%;
    width: 100%;
}

@media all and (min-width: 1200px) {
    .promo-teams {
        margin: 5rem 0 20rem 0;
        padding: 50px 0 0 0;
        width: 100%;
    }
}

.teams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: .5rem;
}

@media all and (min-width: 768px) {
    .teams {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr;
        grid-gap: 15px;
        margin-top: .5rem;
    }
}

.teams a {
    align-self: center;
    opacity: .4;
    transition-property: opacity;
    transition-duration: .5s;
}

.teams a:hover {
    opacity: 1;
    cursor: pointer;
}

.label {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    border-bottom: 5px solid #000;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.feature-story {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 80px;
    padding: 0 5% 0 5%;
    grid-gap: 10px;
}

.feature-story img {
    margin-top: 5px;
    width: 100%;
}

.feature-story h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

.feature-intro {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -.5px;
}

.feature-byline {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.feature-link {
    color: #000;
    text-decoration: none;
}

.feature-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .feature-story {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 5%;
        grid-gap: 30px;
        margin: 100px 0 0 0;
    }

    .contain {
        padding: 0 5%;
    }

    .feature-story h2 {
        font-size: 4.8rem;
    }

    .feature-intro {
        font-size: 2.2rem;
    }
}

@media all and (min-width: 1100px) {
    .feature-story {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 0 0 0;
        grid-gap: 30px;
        margin: 100px 0 0 0;
    }
    .contain {
        padding: 0 0 0 0;
    }
}

.promo-newsletter {
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    margin: 10rem 5%;
    width: 90%;
    align-items: flex-start;
}

.promo-newsletter img {
    margin: 0 2rem 1rem 0;
}

.promo-newsletter h3 {
    font-size: 3rem;
    font-weight: 700;
}

.promo-newsletter p {
    font-size: 1.6rem;
    font-weight: 300;
}

@media all and (min-width: 500px) {
    .promo-newsletter {
        flex-direction: row;
        padding: 5rem 10rem;
        margin: 10rem 0;
        width: 100%;
        align-items: flex-start;
    }
}

form {
    margin-top: 1rem;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
}

input {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    color: #2a2a2a;
    background-color:#dadada;
    width: 100%;
    border: none;
    float: left;
  }

button {
    display: inline-block;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    background-image: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: .5rem 1rem;
    margin-left: 1rem;
    

    letter-spacing: 1px;
    transition: all 0.1s linear;
}    

button:hover {
    cursor: pointer;
    color: #fff;
    background: var(--primary-color);
}    

.secondary {
    padding: 0 5% 0 5%;
    margin-bottom: 5rem;
}

.promo-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    margin-top: 1rem;
}

.promo-story h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: 1rem 0;
}

.promo-intro {
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: -1;
}

@media all and (min-width: 500px) {

    .secondary {
        padding: 0 0 0 0;
    }

    .promo-grid {
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

footer {
    background-color: #fff;
    color: #000;
    margin-top: 100px;
    padding: 2rem 0 0 0;
    width: 100%;
}

.footer-contain {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px auto 0 auto;
    padding: 0 5% 0 5%;
}

.footer-right { 
    text-align: right;
    margin-top: 20px;
}

.footer-right img { 
    margin-bottom: -10px;
}

.footerOutlets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.footer-left p {
    margin-top: 20px;
}

.footerOutlets a img {
    height: 40px;
    margin-top: 1rem;
}

.footerOutlets a img:hover {
    opacity: .8;
    cursor: pointer;
}


@media all and (min-width: 768px) {
    footer {
        margin-top: 100px;
        width: 100%;
        border-top: 10px solid #000;
    }
    
    .footer-contain {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 20px;
        padding: 0 0 0 0;
    }

    .footerOutlets {
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
    }

    .footer-right { 
        text-align: right;
        margin-top: 15rem;
    }
    
    .footerOutlets a img {
        margin-right: 10px;
    }
}

@media all and (min-width: 980px) {
    .footerOutlets {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
    }
}

/* nav from circuit site */

.header {
    width: 100%;
    z-index: 3;
  }
  
.header img {
    width: 150px;
    margin-top: 10px;
    padding-left: 5%;
}
  
  .navbar-title {
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: -1px;
      align-self: center;
      padding-left: 1rem;
  }
  
  .header ul {
      overflow: hidden;
  }
  
  /* positioning of dropdown */
  
  .menu li {
      align-self: center;
      padding-top: 2rem;
      padding-right: 1rem;
      font-size: 1.6rem;
      font-weight: 300;
      text-align: right;
  }
  
  .header a {
      text-decoration: none;
      color: #000;
  }
  
  /* active link underline */
  
  .header .active, .header li a:hover {
      padding-bottom: 3px;
      border-bottom: 5px solid var(--primary-color)
  }
  
  .header .menu {
      clear: both;
      max-height: 0;
      padding: 0 5%;
      transition: max-height .2s ease-out
  }
  
  /* placement of icon */
  
  .header .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 5rem 4rem 1rem;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* size of bars */
  
  .header .menu-icon .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
  }
  
  /* construction of the bars */
  
  .header .menu-icon .navicon:after,.header .menu-icon .navicon:before {
      background: #333;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }
  
  .header .menu-icon .navicon:before {
      top: 5px;
  }
  
  .header .menu-icon .navicon:after {
      top: -5px;
  }
  
  /* hides checkbox trigger */
  
  .header .menu-btn {
      display: none;
  }
  
  .header .menu-btn:checked~.menu {
      max-height: 300px;
      padding-bottom: 10px;
  }
  
  /* hides middle bar */  
  
  .header .menu-btn:checked~.menu-icon .navicon {
      background: transparent;
  }
  
  /* impacts transition from bars to X */
  
  .header .menu-btn:checked~.menu-icon .navicon:before {
      transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked~.menu-icon .navicon:after {
      transform: rotate(45deg);
  }
  
  .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before {
      top: 0;
  }
  
  /* displays nav instead of dropdown, responsive*/
  
  @media (min-width: 768px) {
      .header li {
          float:left;
          padding: 4rem 1rem;
      }
  
      .header img {
        width: 200px;
        margin-top: 10px;
        padding-left: 5%;
      }

      .header .menu {
          clear: none;
          float: right;
          max-height: none;
      }
  
      .header .menu-icon {
          display: none;
      }
  }