@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&family=IBM+Plex+Serif:ital@0;1&display=swap');

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6    
    {margin:0;padding:0}
h1,h2,h3,h4,h5,h6
    {font-size:100%;font-weight:normal}
ul
    {list-style:none}
button,input,select,textarea
    {margin:0}
html
    {box-sizing:border-box}
*,*::before,*::after
    {box-sizing:inherit}
img,video
    {height:auto;max-width:100%}
iframe
    {border:0}
table
    {border-collapse:collapse;border-spacing:0}
td,th
    {padding:0}
td:not([align]),th:not([align])
    {text-align:left}


html {
    font-family: 'IBM Plex Sans', sans-serif;
}

:root {
    --primary-color: #6A00F0;
    --secondary-color: #08A333;
    --dark-grey: #777;
	--light-grey: #eee;
	--purple-darker: #2c006e;
    font-size: 10px;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    width: 100%;
    padding: 5px 5% 0 5%;
    display: flex;
    justify-content: space-between;
}

nav ul {
}

@media all and (min-width: 768px) {
    nav ul {
        display: flex;
        text-decoration: none;
    }
}

nav li {
    align-self: center;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 300;
    float: left;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    padding-bottom: 3px;
    border-bottom: 5px solid var(--primary-color);
}

nav div {
    /* display: flex; */
}

nav h1 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -1px;
    align-self: center;
    display: none;
}

nav img {
    width: 100px;
}

.lightWeight {
    font-weight: 100;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 0 0;
    flex-direction: column;
    width: 100%;
}

.hero-wrap {
    margin-top: 100px;
    width: 100%;
}

@media all and (min-width: 768px) {
    .hero {
        flex-direction: row;
        padding-left: 5%;
    }

}

@media all and (min-width: 1000px) {
    .hero {
        display: flex;
        width: 100%;
        padding: 50px 0 0 5%;
        width: 1440px;
    }
}

.hero-headline {
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: -3px;
}

.hero-text {
    width: 100%;
    padding: 0 5%;
    float: left;
}

@media all and (min-width: 768px) {
    .hero-text {
        width: 50%;
        padding: 0 0;
        float: left;
    }
    .hero-headline {
        font-size: 7rem;
        font-weight: 800;
        letter-spacing: -3px;
    }
}

@media all and (min-width: 1000px) {
    .hero-text {
        width: 30%;
        padding: 0 0;
        float: left;
    }
}

.hero h2 {
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 1;
}

.hero, h3 {
    font-size: 2rem;
    line-height: 1.1;
    margin-top: 2rem;
}

.hero-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
    float: right;
    background-color: var(--primary-color);
    background-image: url('../images/cookcountycourts.jpg');
    background-blend-mode: screen;
    background-position: 40% 20%;
    background-size: 110%;
    margin-top: 50px;
}

@media all and (min-width: 768px) {
    .hero-img {
        height: 300px;
        width: 40%;
        overflow: hidden;
        float: right;
        background-blend-mode: screen;
        background-position: 40% 20%;
        background-size: 110%;
        margin-top: 0;
    }

    .hero h2 {
        font-size: 4.8rem;
    }
    
    .hero h3 {
        font-size: 2.5rem;
    }
}

@media all and (min-width: 1000px) {
    .hero-img {
        height: 450px;
        width: 65%;
        overflow: hidden;
        float: right;
        background-blend-mode: screen;
        background-position: 40% 20%;
        background-size: 110%;
    }
}

.promo-teams {
    margin: 2rem 0 10rem 0;
    padding: 0 5% 0 5%;
    width: 100%;
}

@media all and (min-width: 1200px) {
    .promo-teams {
        margin: 5rem 0 20rem 0;
        padding: 50px 0 0 0;
        width: 100%;
    }
}

.teams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    margin-top: .5rem;
}

@media all and (min-width: 768px) {
    .teams {
        display: grid;
        grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr;
        grid-gap: 15px;
        margin-top: .5rem;
    }
}

.teams a {
    align-self: center;
    opacity: .4;
    transition-property: opacity;
    transition-duration: .5s;
}

.teams a:hover {
    opacity: 1;
    cursor: pointer;
}

.label, h2.label {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 2px;
    border-bottom: 5px solid #000;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


section.featurestory {
    width: 1100px;
    margin: 0 auto;
}

.about {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 200px;
    margin: 0 5%;
}

.about h1 {
    font-size: 48px;
}

.about h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
}

.about p, .connect-call-to-action p {
    font-size: 1.8rem;
    font-family: 'IBM Plex Serif', serif;
    line-height: 1.8;
    margin: 15px 0;
}

.circuit-img {
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: var(--primary-color);
    background-image: url('../images/cookcountycourts.jpg');
    background-blend-mode: screen;
    background-position: 40% 20%;
    background-size: 100%;
    margin-top: 50px;
}

.connect {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 150px;
    margin: 0 5%;
}

.connect-header p {
    font-size: 4.5em;
}

.connect-details {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.connect-details p {
    font-style: italic;
    font-size: 3.5em;
    font-weight: 600;
    color: var(--purple-darker); 
    padding: 2px;
    line-height: 1.20em;
}

.connect-details div {
    display: flex;
	justify-content: center;
}

@media all and (max-width: 768px) {
	.connect-details {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

	.connect-details div {
		margin-top: 2em;
	}
	
	.circuit-img {
		height: 200px;
		width: 100%;
		overflow: hidden;
		background-color: var(--primary-color);
		background-image: url("http://localhost:8000/static/cookcountycourts-c78ae253a43a4a5fb20766adf25ce573.jpg");
		background-blend-mode: screen;
		background-position: 40% 20%;
		background-size: 100%;
		margin-top: 50px;
	}
}

address {
    font-style: normal;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    border-top: 5px solid #000;
    width: 75%;
}

address a {
	color: var(--primary-color);
}

address li { 
    margin-top: 1em;
}

.connect-form {
	margin: 1.5em 0 1.5em 0;
}

.connect-form input {
	float: none;
}

.connect-form h2 {
	font-size: 1.5em;
	font-weight: bold;
}

.connect-form button {
	font-weight: bold;
}

.connect-call-to-action h3 {
    font-size: 3.25rem;
    line-height: 1.1;
    margin-top: 2rem;
}

.connect-call-to-action div {
	margin: 1.5em 0 1.5em 0;
}

.connect-call-to-action a {
	color: var(--purple-darker);
	text-decoration: none;
}

.connect-partners button {
	background-color: var(--purple-darker);
	color: #fff;
	border-color: #fff;
	padding: 0.75em;
	border-radius: 0px;
	margin: 0.5em;
	font-size: 1.75em;
	min-width: 131px;
}

.connect-partners h4 {
	font-size: 2.5em;
	color: var(--purple-darker);
	font-weight: 600;
	margin-top: 1.5em;
}

.connect-partners a {
	text-decoration: none;
}

.connect-partners p {
	font-size: 1.8em;
	font-family: 'IBM Plex Serif', serif;
	min-height: 120px;
}

.connect-partners img {
	width: 15%;
	margin: 1em;
}

.form-check-label {
	display: flex;
	align-items: center;
}

.form-check-input {
	width: 30%;
}

.bold {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 900;
}

.feature-story {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 80px;
    padding: 0 5% 0 5%;
    grid-gap: 10px;
}

.feature-story img {
    margin-top: 5px;
    width: 100%;
}

.feature-story h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 1rem;
}

.feature-intro {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -.5px;
}

.feature-byline {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.feature-link {
    color: #000;
    text-decoration: none;
}

.feature-link:hover {
    color: var(--primary-color);
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .feature-story {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 5%;
        grid-gap: 30px;
        margin: 100px 0 0 0;
    }

    .contain {
        padding: 0 5%;
    }

    .feature-story h2 {
        font-size: 4.8rem;
    }

    .feature-intro {
        font-size: 2.2rem;
    }
}

@media all and (min-width: 1100px) {
    .feature-story {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 0 0 0;
        grid-gap: 30px;
        margin: 100px auto 0 auto;
        max-width: 1100px;
    }
    .contain {
        padding: 0 0 0 0;
    }
}

.promo-newsletter {
    border-top: 5px solid #333;
    border-bottom: 5px solid #333;
    display: flex;
    flex-direction: column;
    padding: 10% 0;
    margin: 10rem 5%;
    width: 90%;
    align-items: flex-start;
}

.promo-newsletter img {
    margin: 0 2rem 1rem 0;
}

.promo-newsletter h3 {
    font-size: 3rem;
    font-weight: 700;
}

.promo-newsletter p {
    font-size: 1.6rem;
    font-weight: 300;
}

@media all and (min-width: 500px) {
    .promo-newsletter {
        flex-direction: row;
        padding: 5rem 10rem;
        margin: 10rem 0;
        width: 100%;
        align-items: flex-start;
    }
}

form {
    margin-top: 1rem;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    width: 50%;
}

input {
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    color: #2a2a2a;
    background-color:#dadada;
    width: 100%;
    border: none;
    float: left;
  }

button {
    display: inline-block;
    border: 1px solid var(--primary-color);
    border-radius: .5rem;
    background-image: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: .5rem 1rem;
    margin-left: 1rem;
    

    letter-spacing: 1px;
    transition: all 0.1s linear;
}    

button:hover {
    cursor: pointer;
    color: #fff;
    background: var(--primary-color);
}    

.secondary {
    padding: 0 5% 0 5%;
    margin-bottom: 5rem;
}

.promo-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    margin-top: 1rem;
}

.promo-story h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    margin: 1rem 0;
}

.promo-intro {
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: -1;
}

@media all and (min-width: 500px) {

    .secondary {
        padding: 0 0 0 0;
    }

    .promo-grid {
        grid-gap: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* nav from circuit site */

.header {
    width: 100%;
    z-index: 3;
  }
  
.header img {
    width: 150px;
    margin-top: 10px;
    padding-left: 5%;
}
  
  .navbar-title {
      font-size: 3rem;
      font-weight: 800;
      letter-spacing: -1px;
      align-self: center;
      padding-left: 1rem;
  }
  
  .header ul {
      overflow: hidden;
  }
  
  /* positioning of dropdown */
  
  .menu li {
      align-self: center;
      padding-top: 2rem;
      padding-right: 1rem;
      font-size: 1.6rem;
      font-weight: 300;
      text-align: right;
  }
  
  .header a {
      text-decoration: none;
      color: #000;
  }
  
  /* active link underline */
  
  .header .active, .header li a:hover {
      padding-bottom: 3px;
      border-bottom: 5px solid var(--primary-color)
  }
  
  .header .menu {
      clear: both;
      max-height: 0;
      padding: 0 5%;
      transition: max-height .2s ease-out
  }
  
  /* placement of icon */
  
  .header .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: 5rem 4rem 1rem;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  /* size of bars */
  
  .header .menu-icon .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
  }
  
  /* construction of the bars */
  
  .header .menu-icon .navicon:after,.header .menu-icon .navicon:before {
      background: #333;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
  }
  
  .header .menu-icon .navicon:before {
      top: 5px;
  }
  
  .header .menu-icon .navicon:after {
      top: -5px;
  }
  
  /* hides checkbox trigger */
  
  .header .menu-btn {
      display: none;
  }
  
  .header .menu-btn:checked~.menu {
      max-height: 300px;
      padding-bottom: 10px;
  }
  
  /* hides middle bar */  
  
  .header .menu-btn:checked~.menu-icon .navicon {
      background: transparent;
  }
  
  /* impacts transition from bars to X */
  
  .header .menu-btn:checked~.menu-icon .navicon:before {
      transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked~.menu-icon .navicon:after {
      transform: rotate(45deg);
  }
  
  .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before {
      top: 0;
  }
  
  /* displays nav instead of dropdown, responsive*/
  
  @media (min-width: 768px) {
      .header li {
          float:left;
          padding: 4rem 1rem;
      }
  
      .header img {
        width: 200px;
        margin-top: 10px;
        padding-left: 5%;
      }

      .header .menu {
          clear: none;
          float: right;
          max-height: none;
      }
  
      .header .menu-icon {
          display: none;
      }
  }


  /* bootstrap column styles */
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.no-gutters {
	margin-right: 0;
	margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
	padding-right: 0;
	padding-left: 0
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%
}

.row-cols-1>* {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

.row-cols-2>* {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.row-cols-3>* {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.row-cols-4>* {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.row-cols-5>* {
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	max-width: 20%
}

.row-cols-6>* {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

.col-auto {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: 100%
}

.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%
}

.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%
}

.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%
}

.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%
}

.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%
}

.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%
}

.col-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%
}

.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%
}

.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%
}

.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%
}

.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%
}

.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%
}

.order-first {
	-ms-flex-order: -1;
	order: -1
}

.order-last {
	-ms-flex-order: 13;
	order: 13
}

.order-0 {
	-ms-flex-order: 0;
	order: 0
}

.order-1 {
	-ms-flex-order: 1;
	order: 1
}

.order-2 {
	-ms-flex-order: 2;
	order: 2
}

.order-3 {
	-ms-flex-order: 3;
	order: 3
}

.order-4 {
	-ms-flex-order: 4;
	order: 4
}

.order-5 {
	-ms-flex-order: 5;
	order: 5
}

.order-6 {
	-ms-flex-order: 6;
	order: 6
}

.order-7 {
	-ms-flex-order: 7;
	order: 7
}

.order-8 {
	-ms-flex-order: 8;
	order: 8
}

.order-9 {
	-ms-flex-order: 9;
	order: 9
}

.order-10 {
	-ms-flex-order: 10;
	order: 10
}

.order-11 {
	-ms-flex-order: 11;
	order: 11
}

.order-12 {
	-ms-flex-order: 12;
	order: 12
}

.offset-1 {
	margin-left: 8.333333%
}

.offset-2 {
	margin-left: 16.666667%
}

.offset-3 {
	margin-left: 25%
}

.offset-4 {
	margin-left: 33.333333%
}

.offset-5 {
	margin-left: 41.666667%
}

.offset-6 {
	margin-left: 50%
}

.offset-7 {
	margin-left: 58.333333%
}

.offset-8 {
	margin-left: 66.666667%
}

.offset-9 {
	margin-left: 75%
}

.offset-10 {
	margin-left: 83.333333%
}

.offset-11 {
	margin-left: 91.666667%
}

@media (min-width:576px) {
	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.row-cols-sm-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.row-cols-sm-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.row-cols-sm-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.row-cols-sm-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.row-cols-sm-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}
	.row-cols-sm-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-sm-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}
	.col-sm-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}
	.col-sm-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-sm-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-sm-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.col-sm-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}
	.col-sm-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-sm-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}
	.col-sm-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}
	.col-sm-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-sm-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}
	.col-sm-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}
	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-sm-first {
		-ms-flex-order: -1;
		order: -1
	}
	.order-sm-last {
		-ms-flex-order: 13;
		order: 13
	}
	.order-sm-0 {
		-ms-flex-order: 0;
		order: 0
	}
	.order-sm-1 {
		-ms-flex-order: 1;
		order: 1
	}
	.order-sm-2 {
		-ms-flex-order: 2;
		order: 2
	}
	.order-sm-3 {
		-ms-flex-order: 3;
		order: 3
	}
	.order-sm-4 {
		-ms-flex-order: 4;
		order: 4
	}
	.order-sm-5 {
		-ms-flex-order: 5;
		order: 5
	}
	.order-sm-6 {
		-ms-flex-order: 6;
		order: 6
	}
	.order-sm-7 {
		-ms-flex-order: 7;
		order: 7
	}
	.order-sm-8 {
		-ms-flex-order: 8;
		order: 8
	}
	.order-sm-9 {
		-ms-flex-order: 9;
		order: 9
	}
	.order-sm-10 {
		-ms-flex-order: 10;
		order: 10
	}
	.order-sm-11 {
		-ms-flex-order: 11;
		order: 11
	}
	.order-sm-12 {
		-ms-flex-order: 12;
		order: 12
	}
	.offset-sm-0 {
		margin-left: 0
	}
	.offset-sm-1 {
		margin-left: 8.333333%
	}
	.offset-sm-2 {
		margin-left: 16.666667%
	}
	.offset-sm-3 {
		margin-left: 25%
	}
	.offset-sm-4 {
		margin-left: 33.333333%
	}
	.offset-sm-5 {
		margin-left: 41.666667%
	}
	.offset-sm-6 {
		margin-left: 50%
	}
	.offset-sm-7 {
		margin-left: 58.333333%
	}
	.offset-sm-8 {
		margin-left: 66.666667%
	}
	.offset-sm-9 {
		margin-left: 75%
	}
	.offset-sm-10 {
		margin-left: 83.333333%
	}
	.offset-sm-11 {
		margin-left: 91.666667%
	}
}

@media (min-width:768px) {
	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.row-cols-md-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.row-cols-md-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.row-cols-md-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.row-cols-md-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.row-cols-md-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}
	.row-cols-md-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-md-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}
	.col-md-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}
	.col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.col-md-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}
	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-md-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}
	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}
	.col-md-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-md-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}
	.col-md-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}
	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-md-first {
		-ms-flex-order: -1;
		order: -1
	}
	.order-md-last {
		-ms-flex-order: 13;
		order: 13
	}
	.order-md-0 {
		-ms-flex-order: 0;
		order: 0
	}
	.order-md-1 {
		-ms-flex-order: 1;
		order: 1
	}
	.order-md-2 {
		-ms-flex-order: 2;
		order: 2
	}
	.order-md-3 {
		-ms-flex-order: 3;
		order: 3
	}
	.order-md-4 {
		-ms-flex-order: 4;
		order: 4
	}
	.order-md-5 {
		-ms-flex-order: 5;
		order: 5
	}
	.order-md-6 {
		-ms-flex-order: 6;
		order: 6
	}
	.order-md-7 {
		-ms-flex-order: 7;
		order: 7
	}
	.order-md-8 {
		-ms-flex-order: 8;
		order: 8
	}
	.order-md-9 {
		-ms-flex-order: 9;
		order: 9
	}
	.order-md-10 {
		-ms-flex-order: 10;
		order: 10
	}
	.order-md-11 {
		-ms-flex-order: 11;
		order: 11
	}
	.order-md-12 {
		-ms-flex-order: 12;
		order: 12
	}
	.offset-md-0 {
		margin-left: 0
	}
	.offset-md-1 {
		margin-left: 8.333333%
	}
	.offset-md-2 {
		margin-left: 16.666667%
	}
	.offset-md-3 {
		margin-left: 25%
	}
	.offset-md-4 {
		margin-left: 33.333333%
	}
	.offset-md-5 {
		margin-left: 41.666667%
	}
	.offset-md-6 {
		margin-left: 50%
	}
	.offset-md-7 {
		margin-left: 58.333333%
	}
	.offset-md-8 {
		margin-left: 66.666667%
	}
	.offset-md-9 {
		margin-left: 75%
	}
	.offset-md-10 {
		margin-left: 83.333333%
	}
	.offset-md-11 {
		margin-left: 91.666667%
	}
}

@media (min-width:992px) {
	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.row-cols-lg-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.row-cols-lg-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.row-cols-lg-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.row-cols-lg-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.row-cols-lg-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}
	.row-cols-lg-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-lg-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}
	.col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}
	.col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-lg-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-lg-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.col-lg-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}
	.col-lg-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-lg-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}
	.col-lg-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}
	.col-lg-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-lg-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}
	.col-lg-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}
	.col-lg-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-lg-first {
		-ms-flex-order: -1;
		order: -1
	}
	.order-lg-last {
		-ms-flex-order: 13;
		order: 13
	}
	.order-lg-0 {
		-ms-flex-order: 0;
		order: 0
	}
	.order-lg-1 {
		-ms-flex-order: 1;
		order: 1
	}
	.order-lg-2 {
		-ms-flex-order: 2;
		order: 2
	}
	.order-lg-3 {
		-ms-flex-order: 3;
		order: 3
	}
	.order-lg-4 {
		-ms-flex-order: 4;
		order: 4
	}
	.order-lg-5 {
		-ms-flex-order: 5;
		order: 5
	}
	.order-lg-6 {
		-ms-flex-order: 6;
		order: 6
	}
	.order-lg-7 {
		-ms-flex-order: 7;
		order: 7
	}
	.order-lg-8 {
		-ms-flex-order: 8;
		order: 8
	}
	.order-lg-9 {
		-ms-flex-order: 9;
		order: 9
	}
	.order-lg-10 {
		-ms-flex-order: 10;
		order: 10
	}
	.order-lg-11 {
		-ms-flex-order: 11;
		order: 11
	}
	.order-lg-12 {
		-ms-flex-order: 12;
		order: 12
	}
	.offset-lg-0 {
		margin-left: 0
	}
	.offset-lg-1 {
		margin-left: 8.333333%
	}
	.offset-lg-2 {
		margin-left: 16.666667%
	}
	.offset-lg-3 {
		margin-left: 25%
	}
	.offset-lg-4 {
		margin-left: 33.333333%
	}
	.offset-lg-5 {
		margin-left: 41.666667%
	}
	.offset-lg-6 {
		margin-left: 50%
	}
	.offset-lg-7 {
		margin-left: 58.333333%
	}
	.offset-lg-8 {
		margin-left: 66.666667%
	}
	.offset-lg-9 {
		margin-left: 75%
	}
	.offset-lg-10 {
		margin-left: 83.333333%
	}
	.offset-lg-11 {
		margin-left: 91.666667%
	}
}

@media (min-width:1200px) {
	.col-xl {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%
	}
	.row-cols-xl-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.row-cols-xl-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.row-cols-xl-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.row-cols-xl-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.row-cols-xl-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%
	}
	.row-cols-xl-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-xl-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%
	}
	.col-xl-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%
	}
	.col-xl-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%
	}
	.col-xl-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%
	}
	.col-xl-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%
	}
	.col-xl-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%
	}
	.col-xl-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%
	}
	.col-xl-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%
	}
	.col-xl-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%
	}
	.col-xl-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%
	}
	.col-xl-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%
	}
	.col-xl-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%
	}
	.col-xl-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%
	}
	.order-xl-first {
		-ms-flex-order: -1;
		order: -1
	}
	.order-xl-last {
		-ms-flex-order: 13;
		order: 13
	}
	.order-xl-0 {
		-ms-flex-order: 0;
		order: 0
	}
	.order-xl-1 {
		-ms-flex-order: 1;
		order: 1
	}
	.order-xl-2 {
		-ms-flex-order: 2;
		order: 2
	}
	.order-xl-3 {
		-ms-flex-order: 3;
		order: 3
	}
	.order-xl-4 {
		-ms-flex-order: 4;
		order: 4
	}
	.order-xl-5 {
		-ms-flex-order: 5;
		order: 5
	}
	.order-xl-6 {
		-ms-flex-order: 6;
		order: 6
	}
	.order-xl-7 {
		-ms-flex-order: 7;
		order: 7
	}
	.order-xl-8 {
		-ms-flex-order: 8;
		order: 8
	}
	.order-xl-9 {
		-ms-flex-order: 9;
		order: 9
	}
	.order-xl-10 {
		-ms-flex-order: 10;
		order: 10
	}
	.order-xl-11 {
		-ms-flex-order: 11;
		order: 11
	}
	.order-xl-12 {
		-ms-flex-order: 12;
		order: 12
	}
	.offset-xl-0 {
		margin-left: 0
	}
	.offset-xl-1 {
		margin-left: 8.333333%
	}
	.offset-xl-2 {
		margin-left: 16.666667%
	}
	.offset-xl-3 {
		margin-left: 25%
	}
	.offset-xl-4 {
		margin-left: 33.333333%
	}
	.offset-xl-5 {
		margin-left: 41.666667%
	}
	.offset-xl-6 {
		margin-left: 50%
	}
	.offset-xl-7 {
		margin-left: 58.333333%
	}
	.offset-xl-8 {
		margin-left: 66.666667%
	}
	.offset-xl-9 {
		margin-left: 75%
	}
	.offset-xl-10 {
		margin-left: 83.333333%
	}
	.offset-xl-11 {
		margin-left: 91.666667%
	}
}
